/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
html {
  --font-manrope: "Manrope";
  --color-dark-blue: #202733;
  --color-dark-grayish-blue: #313a48;
  --color-grayish-blue: #4f5d74;
  --color-light-cyan: #cee3e9;
  --color-neon-green: #53ffaa;
  font-family: var(--font-manrope, sans-serif);
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  width: 80px;
  height: 80px;
  border: 5px solid var(--color-grayish-blue);
  border-top: 5px solid var(--color-light-cyan);
  border-radius: 50%;
  animation: spinner 2s linear infinite;
}

.adviceCard {
  background-color: var(--color-dark-grayish-blue);
  padding: 48px;
  border-radius: 8px;
  width: 540px;
  position: relative;
}

.adviceBtn {
  position: absolute;
  border: none;
  padding: 0rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--color-neon-green);
}
.adviceBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 30px 0px var(--color-neon-green);
}

.adviceLineImg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.adviceId {
  color: var(--color-neon-green);
  font-size: 13px;
  font-weight: 800;
}
.advice {
  color: var(--color-light-cyan);
  font-size: 28px;
  font-weight: 800;
  margin-top: 24px;
}
[data-stack] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0px);
  align-content: start;
}

[data-center] {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

[data-center~="center-text"] {
  text-align: center;
}
